[workspace]
members = [".", "examples/*"]

[workspace.package]
authors = ["Mattia Penati <mattia.penati@protonmail.com>"]
edition = "2024"
license = "Apache-2.0 OR MIT"

[workspace.dependencies]
tower-embed = { path = "." }

[package]
name = "tower-embed"
version = "0.2.0"
description = "Tower service to serve embedded assets"
keywords = ["tower", "http", "static"]
homepage = "https://github.com/mattiapenati/tower-embed"
repository = "https://github.com/mattiapenati/tower-embed"
documentation = "https://docs.rs/tower-embed"
edition.workspace = true
authors.workspace = true
license.workspace = true
autoexamples = false

[dependencies]
bytes = "1.11.0"
http = "1.4.0"
http-body = "1.0.1"
http-body-util = "0.1.3"
httpdate = "1.0.3"
mime = "0.3.17"
rust-embed = { version = "8.11.0", features = ["mime-guess"] }
tower-service = "0.3.3"
